body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.title {
    font-size: 3rem;
}

/*.title:visited {
    color: darkred;
}*/

.up {
    background-color: greenyellow;
}

.down {
    background-color: lightcoral;
}

#header {
    margin-top: 0;
    padding-top: 20px;
    padding-left: 30px;
    background-color: lightskyblue;
    height: 100px;
    width: 100%;
    color: white;
    text-shadow: 1px 1px darkgray;
    font-size: 4rem;
}
