@model IEnumerable<Readit.Models.CommentVM>

<br />
<br />


@foreach (var item in Model)
{

    <div class="col-md-offset-1">Comment by <span class="commentauthor">@item.Author</span> written @item.TimeSinceCreation hours ago:</div>
    <div class="commentbody col-md-offset-2">
        @Html.DisplayFor(modelItem => item.Body)
    </div>
}


<br />

@Html.Partial("CreateComment", (int)ViewBag.PostId)

<br />