@model int
@using (Html.BeginForm("AddComment", "Posts"))
{
    @Html.Hidden("PostId", Model)
    <span>Comment: </span> @Html.TextBox("Body")
    <span>Your Name: </span> @Html.TextBox("Author")
    <input type="submit" value="Add Comment" class="btn btn-default"/>
}
